<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024, user-scalable=yes">
    <meta name="theme-color" content="#ece4d8"/>

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style_minified.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" title="desktop">
    <link rel="alternate stylesheet" type="text/css" href="{{ '/assets/css/mobile_minified.css' | relative_url }}" media="screen" title="mobile">
    <link rel="apple-touch-icon" href="/assets/images/icon192a.png">

    <script>
      document.cookie = 'cross-site-cookie=bar; SameSite=None; Secure';
    </script>
    <script type="text/javascript" src="{{ '/assets/js/styleswitcher.js' | relative_url }}" async></script>
    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      jQuery(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="manifest" href="/manifest.json">


  </head>

  <body>

    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="https://gilokk0.github.io" class="zip">Home</a><a href="https://gilokko.itch.io/brians-quest/download/bSNlwVL3Boab7k6VQOUM6TH5CJRvSua9EeyxwXYR" class="tgz"><em>download</em>Game</a>
          </span>
        </section>
      {% else %}
        <section id="no-downloads">
          <span class="inner">
            <a href="https://gilokk0.github.io" class="zip">Home</a><a class="tgz"> </a>
          </span>
        </section>
      {% endif %}


      <span class="banner-fix"></span>
    </div>


    <div class="shell">
      <section>

      <section id="main_content">
        {{ content }}
      </section>
        </div>

      <div class="shell">
      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            {% if site.github.is_project_page %}
              <p>this project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
            {% if site.github.is_user_page %}
              <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <p>Generated with <a href="https://pages.github.com">GitHub Pages</a> using Merlot</p>
        <span class="octocat"></span>
        <div class="cookies">
          <a href="#" onclick="setActiveStyleSheet('desktop');return false;">Desktop</a>
        |
        <a href="#" onclick="setActiveStyleSheet('mobile');return false;">Mobile</a>
        </div>
      </footer>
        </div>

 <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('./sw_minified.js', {scope: './'})
      .then(function(reg) {
        // registration worked
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function(error) {
        // registration failed
        console.log('Registration failed with ' + error);
      });
    }

    navigator.serviceWorker.register('./sw_minified.js').then(function(reg) {
    if (reg.installing) {
        // Service Worker is Installing
        //console.log('Service Worker is Installing...');
    }
})

navigator.serviceWorker.register('./sw_minified.js').then(function(reg) {
    if (reg.waiting) {
        // Service Worker is Waiting
        //console.log('Service Worker is Waiting...');
    }
})

navigator.serviceWorker.register('./sw_minified.js').then(function(reg) {
    if (reg.active) {
        // Service Worker is Active
        //console.log('Service Worker is Active');
    }
})
    </script>

  </body>
</html>
